{% load static %}
  <script src="{% static 'adminuserfrontend/vendor/jquery/jquery.min.js'  %}"></script>
  <script src="{% static 'adminuserfrontend/vendor/popper.js/umd/popper.min.js'  %}"></script>
  <script src="{% static 'adminuserfrontend/vendor/bootstrap/js/bootstrap.min.js'  %}"></script>
  <script src="{% static 'adminuserfrontend/js/grasp_mobile_progress_circle-1.0.0.min.js'  %}"></script>
  <script src="{% static 'adminuserfrontend/vendor/jquery.cookie/jquery.cookie.js'  %}"></script>
  <script src="{% static 'adminuserfrontend/vendor/chart.js/Chart.min.js'  %}"></script>
  <script src="{% static 'adminuserfrontend/vendor/jquery-validation/jquery.validate.min.js'  %}"></script>
  <script src="{% static 'adminuserfrontend/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js'  %}"></script>
  <script src="{% static 'adminuserfrontend/js/front.jss'  %}"></script>